
body{
  background-color: rgba(54, 96, 234, 0.3);
}
.cart_products{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(230px,1fr));
  column-gap: 30px;
  row-gap:30px;
}
.shoe-img{
width:80%;
border-width:1px;
margin-left:15px;
border-radius: 5px;
}
.shoe-prop{
margin-top:20px;
width:90%;
border-width:1px;
border-radius:10px;
padding: 18px 0px 10px 20px;
border-style:solid;
transition:width 0.3s;
}
.delete{
color:white;
background-color: red;
padding:10px 40px 10px 40px;
margin-left: 25px;
border-style: none;
border-radius: 5px;
transition: opacity 0.30s;
font-size: 16px
}
.delete:hover{
opacity:0.8;
}
.delete:active{
opacity: 0.5;
}
.quantity{
margin:3px 0px 5px 40px;
}
.shoe-name,.shoe-price{
margin:2px 0px 3px 40px;
}
.shoe-price{
margin-left:40px;
}
