header{
  color:brown;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-style: solid;
  border-width:1px;
  border-color:black ;
  padding:10px;
  border-radius: 5px;
  background-color: rgba(237, 237, 42,0.7);
  align-items: center;
  justify-content:space-between;
  min-width: fit-content;
}
.h1-header{
  margin:0px
}
.company-name{
  max-width:fit-content;
  margin-right: 50px;
}
.search_item{
  flex:1;
  display: flex;
  flex-direction: row;
  padding:6px 0px 6px 5px;
  align-items: center;
}
.cart{
  margin-left:50px;
  margin-right: 50px;
}
.input_item_name{
  padding:8px 10px 8px 10px;
  font-size: 15px;
  border-top-left-radius: 10px;
  border-top-style: solid;
  border-bottom-style:solid ;
  border-left-style:solid;
  border-right-style: none;
  border-width: 1px;
  width: 100%;
  border-bottom-left-radius:10px;
}
.search-box{
  flex:0.7;
}
.search-icon-div{
  width:fit-content;
  background-color: none;
}
.search-icon{
  margin-top: 3px;
  width: 30px;
  border-style: solid;
  padding: 1.7px 0px 1.8px 0px;
  border-color: black;
  background-color: white;
  border-width: 1px;
  margin-left: 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: opacity 0.2s;
}
.search-icon:hover{
  background-color: rgba(128, 128, 128,0.8);
}
.search-icon:active{
  background-color: grey;
}