.user-details{
  width:fit-content;
  padding:30px;
  border-style:solid;
  border-width:1px;
  margin-top:100px;
  border-radius:10px;
}
input{
  display:block;
  margin-bottom:10px;
}
.register,.new-user{
  margin:0px;
  display: inline-block;
}
.submit{
  display: block;
}
.username,.password{
  padding:10px;
  font-size: 16px;
  border-radius:5px;
  border-style: 1px;
  border-width:1px;
}
.login{
  background-color: rgb(5, 96, 241);
  color:white;
  display: block;
  padding:10px 89px 10px 89px;
  font-size: 16px;
  border-style: none;
  border-radius: 5px;
  transition:opacity 0.30s;
}
.login:hover{
  opacity:0.8;
}
.login:active{
  opacity:0.5;
}
.login-heading{
  margin:0px 0px px 0px;
}
.register{
  margin-left:10px;
  margin-top:10px;
  padding:5px 15px 5px 15px;
  background-color: brown;
  border-style:none;
  border-radius:5px;
  color:white;
}
.register-user:hover,.register:hover,.login-user:hover{
  opacity:0.8;
}
.register:active,.register-user:active,.login-user:active{
  opacity:0.5;
}
.register-user,.login-user{
  margin-left:10px;
  margin-top:10px;
  padding:5px 15px 5px 15px;
  background-color: rgb(5, 96, 241);
  border-style:none;
  border-radius:5px;
  color:white;
}