body{
  margin-bottom: 100px;
  background-color: rgba(54, 96, 234, 0.3);
  font-family: montserrat;
}
.asian-shoe,.nike-shoe{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(230px,1fr));
  column-gap: 30px;
  row-gap:30px;
  padding: 10px 5px 15px 5px;
}
.product-added{
  color:rgb(13, 162, 72);
  margin:2px 0px 0px 25px;
  font-weight: bold;
}
.shoe-img{
  width:80%;
  border-width:1px;
  margin-left:15px;
  border-radius: 5px;
}
.asian-title,.nike-title{
  color:brown;
}
.shoe-prop{
  width:90%;
  border-width:1px;
  border-radius:10px;
  padding: 18px 0px 10px 20px;
  border-style:solid;
  transition:width 0.3s;
}
.shoe-name,.shoe-price{
  margin:2px 0px 3px 50px;
}
.shoe-price{
  margin-left:75px;
}
.product-info:hover{
opacity: 0.8;
}
.product-info:active{
opacity: 0.5;
}
.product-info{
  background-color: black;
  color:white;
  padding:7px 65px 7px 58px;
  border-style: none;
  margin-left: 10px;
  margin-top:8px;
  font-size: 15px;
  border-radius: 15px;
  transition: 0.20s opacity;
}
